<div class="product-card" (click)="onProductClick()">
  <div class="product-image">
    <img [src]="getImageUrl(product.img_Url)" [alt]="product.modelo" />
  </div>

  <div class="p-4">
    <h3 class="font-semibold text-lg text-gray-800 mb-1">{{ product.modelo }}</h3>
    <p class="text-gray-600 text-sm mb-2">{{ product.productType }}</p>
    <p class="text-blue-600 font-bold text-xl mb-4">${{ product.costo_m2 | number:'1.2-2' }}/m²</p>
    <p class="text-gray-500 text-sm line-clamp-2">{{ product.descripcion }}</p>


    <div class="product-actions">
      <br>
      <button class="btn btn-primary add-to-cart-btn" (click)="openAddToCartModal($event)">
        <i class="fas fa-cart-plus"></i> Agregar al Carrito
      </button>
    </div>
  </div>
</div>